/Bonn/output/
/Bonn/output_old_leaked/
/Bonn/docs
/Bonn/saved_models/
/Bonn/__pycache__/
/Bonn/Bonn/
/Bonn/.venv/
/Bonn/eda/
/Bonn/.pytest_cache/
/Bonn/tests/__pycache__/

/BBC6521_Final_Report_LaTeX_Template_25_26/
# macOS metadata
.DS_Store
