* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.TXT text eol=lf
*.tex text eol=lf
*.sty text eol=lf
*.bib text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.ttf binary
